@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800');
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");


.home-container {
    height: 100vh;
    color: #f5f5f5;
    display: grid;
    max-width: 100vw;
    flex-direction: row;
    margin-bottom: 15vh;
}

.title-container {
    position: relative;
    height: fit-content;
    margin-top: 10vh;
    flex: 1 0 auto;
    margin-bottom: 15vh;
}

.blade-container {
    position: relative;
    min-width: 28vw;
    grid-row: 1;
    grid-column: 1;
}

.main-content {
    position: relative;
    grid-row: 1;
    grid-column: 2;
}

.name-label {
    font-size: 4rem;
    font-weight: 400;
    color: #f5f5f5;
    font-family: sans-serif;
}

.identity-labels {
    font-size: 1.5rem;
    font-weight: 400;
    display: inline;
    color: #f5f5f5;
}

.typed-out {
    overflow: hidden;
    border-right: .15em solid #f5f5f5;
    white-space: nowrap;
    width: 0;
    color: #b3ffac;
}

.page-nav {
    margin: 0;
    padding: 0;
    display: inline-grid;
    text-transform: uppercase;
    font: bold 1.5rem sans-serif;
    flex: 1 0 auto;
}

.page-nav-item {
    color: #94a3b8;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
    text-decoration: none;
    border-bottom: solid transparent 0.2rem;
    margin-bottom: 4vh;
}

.page-nav-item::before {
    content: "";
    transform: scale(0, 1);
    position: absolute;
    background: var(--accent-color);
    transition: 0.3s, transform 0s 0.3s;
    inset: calc(100% - var(--underline-thickness)) 0 0 0;
}

.page-nav-item:hover {
    color: #f5f5f5;
    border-bottom-color: #f5f5f5;
}

    .page-nav-item:hover::before {
        transform: scale(1);
        transition: 0.3s;
    }

    .page-nav:hover .page-nav-item::before {
        transform: scale(1);
    }

    .page-nav-item:has(~ .page-nav-item:hover)::before {
        transform: translate(100%, 0);
        transition: 0.2s 0.2s, transform 0s 0.4s;
    }

    .page-nav-item:hover ~ .page-nav-item::before {
        transform: translate(-100%, 0);
        transition: 0.2s 0.2s, transform 0s 0.4s;
    }

.introduction-paragraph {
    text-align: justify;
}

.standard-font {
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #94a3b8
}

.tech-subsection {
    flex-direction: column;
}

h3 {
    color: #94a3b8;
}

img {
    position: relative;
    height: 50%;
}

ul {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}

.tech-stack-list li {
    position: relative;
    display: flex;
    color: #666;
    font-size: 30px;
    height: 120px;
    width: 120px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

    .tech-stack-list li:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: inherit;
        width: inherit;
        background: #4267B2;
        border-radius: 50%;
        transform: scale(.9);
        z-index: -1;
        transition: .5s;
    }

    .tech-stack-list li:hover:before {
        filter: blur(3px);
        transform: scale(1.2);
        box-shadow: 0 0 15px #4267B2;
    }

.section {
    color: #94a3b8;
}

.timeline {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    float: left;
}

.timeline-content {
    padding: 20px;
    background: #1f1f1f;
    -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    border-radius: 5px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 10px;
    width: 220px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 15px;
    -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 1px rgba(255, 255, 255, 0.1);
}

.timeline-component {
    margin: 0px 20px 20px 20px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 2rem;
    width: fit-content;
}

    .social-media li {
        padding-right: 2rem;
        padding-top: 2rem;
    }


.fab {
    font-size: 3rem;
}

.fa-kaggle,
.fa-github,
.fa-linkedin {
    transition: 0.4s;
    cursor: pointer;
}

    .fa-linkedin:hover,
    .fa-linkedin:focus {
        color: #000;
        transform: scale(1.1);
    }

    .fa-kaggle:hover,
    .fa-kaggle:focus {
        color: #000;
        transform: scale(1.1);
    }

.fa-github:hover,
.fa-github:focus {
    color: #000;
    transform: scale(1.1);
}

@media screen and (min-width: 768px) {
    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
    }

    .timeline-middle {
        position: relative;
        background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
        width: 3px;
        height: 100%;
    }

    .main-middle {
        opacity: 0;
    }

    .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

